/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package app.spatio.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import app.spatio.client.models.ApiError
import app.spatio.client.models.CalendarCapabilitiesResponse
import app.spatio.client.models.CalendarOperationResult
import app.spatio.client.models.CalendarProvidersInfo
import app.spatio.client.models.CalendarSyncResponse
import app.spatio.client.models.CreateCalendarEvent201Response
import app.spatio.client.models.CreateEventRequest
import app.spatio.client.models.ListCalendarEvents200Response
import app.spatio.client.models.SpatioEvent
import app.spatio.client.models.UpdateEventRequest

import com.squareup.moshi.Json

import app.spatio.client.infrastructure.ApiClient
import app.spatio.client.infrastructure.ApiResponse
import app.spatio.client.infrastructure.ClientException
import app.spatio.client.infrastructure.ClientError
import app.spatio.client.infrastructure.ServerException
import app.spatio.client.infrastructure.ServerError
import app.spatio.client.infrastructure.MultiValueMap
import app.spatio.client.infrastructure.PartConfig
import app.spatio.client.infrastructure.RequestConfig
import app.spatio.client.infrastructure.RequestMethod
import app.spatio.client.infrastructure.ResponseType
import app.spatio.client.infrastructure.Success
import app.spatio.client.infrastructure.toMultiValue

open class CalendarApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.spatio.app")
        }
    }

    /**
     * POST /v1/calendar/events
     * Create a calendar event.
     * Single-account create. &#x60;account_id&#x60; is required (no auto-resolve for write operations). Reminder array is mirrored into native tasks under the hood; conference data is auto-attached when &#x60;conference_type&#x60; is supplied. 
     * @param createEventRequest 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @return CreateCalendarEvent201Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createCalendarEvent(createEventRequest: CreateEventRequest, xWorkspaceID: kotlin.String? = null) : CreateCalendarEvent201Response {
        val localVarResponse = createCalendarEventWithHttpInfo(createEventRequest = createEventRequest, xWorkspaceID = xWorkspaceID)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateCalendarEvent201Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/calendar/events
     * Create a calendar event.
     * Single-account create. &#x60;account_id&#x60; is required (no auto-resolve for write operations). Reminder array is mirrored into native tasks under the hood; conference data is auto-attached when &#x60;conference_type&#x60; is supplied. 
     * @param createEventRequest 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @return ApiResponse<CreateCalendarEvent201Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createCalendarEventWithHttpInfo(createEventRequest: CreateEventRequest, xWorkspaceID: kotlin.String?) : ApiResponse<CreateCalendarEvent201Response?> {
        val localVariableConfig = createCalendarEventRequestConfig(createEventRequest = createEventRequest, xWorkspaceID = xWorkspaceID)

        return request<CreateEventRequest, CreateCalendarEvent201Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createCalendarEvent
     *
     * @param createEventRequest 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @return RequestConfig
     */
    fun createCalendarEventRequestConfig(createEventRequest: CreateEventRequest, xWorkspaceID: kotlin.String?) : RequestConfig<CreateEventRequest> {
        val localVariableBody = createEventRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xWorkspaceID?.apply { localVariableHeaders["X-Workspace-ID"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/calendar/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/calendar/events/{id}
     * Delete an event.
     * Hard delete (no soft-delete / trash). Cascades to any reminder tasks the platform created from this event. 
     * @param id Event id.
     * @param accountId Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @return CalendarOperationResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteCalendarEvent(id: kotlin.String, accountId: kotlin.String, xWorkspaceID: kotlin.String? = null) : CalendarOperationResult {
        val localVarResponse = deleteCalendarEventWithHttpInfo(id = id, accountId = accountId, xWorkspaceID = xWorkspaceID)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CalendarOperationResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/calendar/events/{id}
     * Delete an event.
     * Hard delete (no soft-delete / trash). Cascades to any reminder tasks the platform created from this event. 
     * @param id Event id.
     * @param accountId Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @return ApiResponse<CalendarOperationResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteCalendarEventWithHttpInfo(id: kotlin.String, accountId: kotlin.String, xWorkspaceID: kotlin.String?) : ApiResponse<CalendarOperationResult?> {
        val localVariableConfig = deleteCalendarEventRequestConfig(id = id, accountId = accountId, xWorkspaceID = xWorkspaceID)

        return request<Unit, CalendarOperationResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteCalendarEvent
     *
     * @param id Event id.
     * @param accountId Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @return RequestConfig
     */
    fun deleteCalendarEventRequestConfig(id: kotlin.String, accountId: kotlin.String, xWorkspaceID: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("account_id", listOf(accountId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xWorkspaceID?.apply { localVariableHeaders["X-Workspace-ID"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/calendar/events/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/calendar/capabilities
     * Per-account capability flags.
     * Returns the capabilities the provider declares for the given connected account. The renderer uses these to enable/disable form fields (recurrence picker, attendee inputs, etc.). 
     * @param accountId Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
     * @return CalendarCapabilitiesResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCalendarCapabilities(accountId: kotlin.String) : CalendarCapabilitiesResponse {
        val localVarResponse = getCalendarCapabilitiesWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CalendarCapabilitiesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/calendar/capabilities
     * Per-account capability flags.
     * Returns the capabilities the provider declares for the given connected account. The renderer uses these to enable/disable form fields (recurrence picker, attendee inputs, etc.). 
     * @param accountId Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
     * @return ApiResponse<CalendarCapabilitiesResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCalendarCapabilitiesWithHttpInfo(accountId: kotlin.String) : ApiResponse<CalendarCapabilitiesResponse?> {
        val localVariableConfig = getCalendarCapabilitiesRequestConfig(accountId = accountId)

        return request<Unit, CalendarCapabilitiesResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCalendarCapabilities
     *
     * @param accountId Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
     * @return RequestConfig
     */
    fun getCalendarCapabilitiesRequestConfig(accountId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("account_id", listOf(accountId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/calendar/capabilities",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/calendar/events/{id}
     * Fetch one event.
     * Requires &#x60;?account_id&#x3D;&#x60; to identify the source account. Response is the bare &#x60;Event&#x60; (not wrapped in CalendarOperationResult — distinct from the list/create/update shapes). 
     * @param id Event id.
     * @param accountId Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @return SpatioEvent
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCalendarEvent(id: kotlin.String, accountId: kotlin.String, xWorkspaceID: kotlin.String? = null) : SpatioEvent {
        val localVarResponse = getCalendarEventWithHttpInfo(id = id, accountId = accountId, xWorkspaceID = xWorkspaceID)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SpatioEvent
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/calendar/events/{id}
     * Fetch one event.
     * Requires &#x60;?account_id&#x3D;&#x60; to identify the source account. Response is the bare &#x60;Event&#x60; (not wrapped in CalendarOperationResult — distinct from the list/create/update shapes). 
     * @param id Event id.
     * @param accountId Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @return ApiResponse<SpatioEvent?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCalendarEventWithHttpInfo(id: kotlin.String, accountId: kotlin.String, xWorkspaceID: kotlin.String?) : ApiResponse<SpatioEvent?> {
        val localVariableConfig = getCalendarEventRequestConfig(id = id, accountId = accountId, xWorkspaceID = xWorkspaceID)

        return request<Unit, SpatioEvent>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCalendarEvent
     *
     * @param id Event id.
     * @param accountId Connected-account id (snake_case in this platform — the rest of the SpatioAPI uses &#x60;accountId&#x60;). Required for single-event operations. 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @return RequestConfig
     */
    fun getCalendarEventRequestConfig(id: kotlin.String, accountId: kotlin.String, xWorkspaceID: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("account_id", listOf(accountId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xWorkspaceID?.apply { localVariableHeaders["X-Workspace-ID"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/calendar/events/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/calendar/events
     * List calendar events across connected accounts.
     * Fan-out list. Returns events across every connected calendar provider unless filtered by &#x60;account_ids[]&#x60; or &#x60;providers[]&#x60;. Supports the cross-platform repeated-or-comma-separated filter syntax (&#x60;?account_ids&#x3D;a&amp;account_ids&#x3D;b&#x60; or &#x60;?account_ids&#x3D;a,b&#x60;).  Time bounds (&#x60;timeMin&#x60; / &#x60;timeMax&#x60;) accept both RFC3339 and RFC3339Nano. The handler also accepts the snake_case &#x60;time_min&#x60; / &#x60;time_max&#x60; for direct curl callers; the spec models the camelCase form because that&#39;s what the renderer and SDKs use. 
     * @param accountIds Repeatable. Restrict to specific connected accounts. (optional)
     * @param providers Repeatable. Restrict to provider ids (&#x60;google-calendar&#x60;, etc.). (optional)
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param timeMin Inclusive lower-bound time. RFC3339 or RFC3339Nano. (optional)
     * @param timeMax Inclusive upper-bound time. (optional)
     * @param limit Max events to return per page (default 50). (optional, default to 50)
     * @return ListCalendarEvents200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listCalendarEvents(accountIds: kotlin.collections.List<kotlin.String>? = null, providers: kotlin.collections.List<kotlin.String>? = null, xWorkspaceID: kotlin.String? = null, timeMin: java.time.OffsetDateTime? = null, timeMax: java.time.OffsetDateTime? = null, limit: kotlin.Int? = 50) : ListCalendarEvents200Response {
        val localVarResponse = listCalendarEventsWithHttpInfo(accountIds = accountIds, providers = providers, xWorkspaceID = xWorkspaceID, timeMin = timeMin, timeMax = timeMax, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListCalendarEvents200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/calendar/events
     * List calendar events across connected accounts.
     * Fan-out list. Returns events across every connected calendar provider unless filtered by &#x60;account_ids[]&#x60; or &#x60;providers[]&#x60;. Supports the cross-platform repeated-or-comma-separated filter syntax (&#x60;?account_ids&#x3D;a&amp;account_ids&#x3D;b&#x60; or &#x60;?account_ids&#x3D;a,b&#x60;).  Time bounds (&#x60;timeMin&#x60; / &#x60;timeMax&#x60;) accept both RFC3339 and RFC3339Nano. The handler also accepts the snake_case &#x60;time_min&#x60; / &#x60;time_max&#x60; for direct curl callers; the spec models the camelCase form because that&#39;s what the renderer and SDKs use. 
     * @param accountIds Repeatable. Restrict to specific connected accounts. (optional)
     * @param providers Repeatable. Restrict to provider ids (&#x60;google-calendar&#x60;, etc.). (optional)
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param timeMin Inclusive lower-bound time. RFC3339 or RFC3339Nano. (optional)
     * @param timeMax Inclusive upper-bound time. (optional)
     * @param limit Max events to return per page (default 50). (optional, default to 50)
     * @return ApiResponse<ListCalendarEvents200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listCalendarEventsWithHttpInfo(accountIds: kotlin.collections.List<kotlin.String>?, providers: kotlin.collections.List<kotlin.String>?, xWorkspaceID: kotlin.String?, timeMin: java.time.OffsetDateTime?, timeMax: java.time.OffsetDateTime?, limit: kotlin.Int?) : ApiResponse<ListCalendarEvents200Response?> {
        val localVariableConfig = listCalendarEventsRequestConfig(accountIds = accountIds, providers = providers, xWorkspaceID = xWorkspaceID, timeMin = timeMin, timeMax = timeMax, limit = limit)

        return request<Unit, ListCalendarEvents200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listCalendarEvents
     *
     * @param accountIds Repeatable. Restrict to specific connected accounts. (optional)
     * @param providers Repeatable. Restrict to provider ids (&#x60;google-calendar&#x60;, etc.). (optional)
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param timeMin Inclusive lower-bound time. RFC3339 or RFC3339Nano. (optional)
     * @param timeMax Inclusive upper-bound time. (optional)
     * @param limit Max events to return per page (default 50). (optional, default to 50)
     * @return RequestConfig
     */
    fun listCalendarEventsRequestConfig(accountIds: kotlin.collections.List<kotlin.String>?, providers: kotlin.collections.List<kotlin.String>?, xWorkspaceID: kotlin.String?, timeMin: java.time.OffsetDateTime?, timeMax: java.time.OffsetDateTime?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (accountIds != null) {
                    put("account_ids", toMultiValue(accountIds.toList(), "multi"))
                }
                if (providers != null) {
                    put("providers", toMultiValue(providers.toList(), "multi"))
                }
                if (timeMin != null) {
                    put("timeMin", listOf(parseDateToQueryString<java.time.OffsetDateTime>(timeMin)))
                }
                if (timeMax != null) {
                    put("timeMax", listOf(parseDateToQueryString<java.time.OffsetDateTime>(timeMax)))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xWorkspaceID?.apply { localVariableHeaders["X-Workspace-ID"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/calendar/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/calendar/providers
     * List supported calendar providers.
     * Static list of provider ids the Calendar platform can connect to. Returned regardless of which providers the caller has actually authorized. 
     * @return CalendarProvidersInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listCalendarProviders() : CalendarProvidersInfo {
        val localVarResponse = listCalendarProvidersWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CalendarProvidersInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/calendar/providers
     * List supported calendar providers.
     * Static list of provider ids the Calendar platform can connect to. Returned regardless of which providers the caller has actually authorized. 
     * @return ApiResponse<CalendarProvidersInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listCalendarProvidersWithHttpInfo() : ApiResponse<CalendarProvidersInfo?> {
        val localVariableConfig = listCalendarProvidersRequestConfig()

        return request<Unit, CalendarProvidersInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listCalendarProviders
     *
     * @return RequestConfig
     */
    fun listCalendarProvidersRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/calendar/providers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/calendar/sync
     * Trigger a sync across connected calendar accounts.
     * Enqueues sync jobs (one per connected calendar account) and returns immediately with the job ids. Pass &#x60;?wait&#x3D;true&#x60; to block until all jobs complete (10-second polling budget); the response is then &#x60;200&#x60; with &#x60;waited: true&#x60; and a &#x60;timed_out&#x60; flag if any job didn&#39;t finish in time. 
     * @param wait Block until all sync jobs finish (10s timeout). (optional, default to false)
     * @return CalendarSyncResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun syncCalendar(wait: kotlin.Boolean? = false) : CalendarSyncResponse {
        val localVarResponse = syncCalendarWithHttpInfo(wait = wait)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CalendarSyncResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/calendar/sync
     * Trigger a sync across connected calendar accounts.
     * Enqueues sync jobs (one per connected calendar account) and returns immediately with the job ids. Pass &#x60;?wait&#x3D;true&#x60; to block until all jobs complete (10-second polling budget); the response is then &#x60;200&#x60; with &#x60;waited: true&#x60; and a &#x60;timed_out&#x60; flag if any job didn&#39;t finish in time. 
     * @param wait Block until all sync jobs finish (10s timeout). (optional, default to false)
     * @return ApiResponse<CalendarSyncResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun syncCalendarWithHttpInfo(wait: kotlin.Boolean?) : ApiResponse<CalendarSyncResponse?> {
        val localVariableConfig = syncCalendarRequestConfig(wait = wait)

        return request<Unit, CalendarSyncResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation syncCalendar
     *
     * @param wait Block until all sync jobs finish (10s timeout). (optional, default to false)
     * @return RequestConfig
     */
    fun syncCalendarRequestConfig(wait: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (wait != null) {
                    put("wait", listOf(wait.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/calendar/sync",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/calendar/events/{id}
     * Update an event (sparse).
     * Partial update. &#x60;account_id&#x60; may be supplied in the body (preferred) or as &#x60;?account_id&#x3D;&#x60; query param — the renderer&#39;s update path puts it in the URL while create puts it in the body. &#x60;updates&#x60; is a free-form map; the platform&#39;s capability gate rejects fields the provider doesn&#39;t support. 
     * @param id Event id.
     * @param updateEventRequest 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param accountId Optional account-id filter (snake_case). (optional)
     * @return CreateCalendarEvent201Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateCalendarEvent(id: kotlin.String, updateEventRequest: UpdateEventRequest, xWorkspaceID: kotlin.String? = null, accountId: kotlin.String? = null) : CreateCalendarEvent201Response {
        val localVarResponse = updateCalendarEventWithHttpInfo(id = id, updateEventRequest = updateEventRequest, xWorkspaceID = xWorkspaceID, accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateCalendarEvent201Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/calendar/events/{id}
     * Update an event (sparse).
     * Partial update. &#x60;account_id&#x60; may be supplied in the body (preferred) or as &#x60;?account_id&#x3D;&#x60; query param — the renderer&#39;s update path puts it in the URL while create puts it in the body. &#x60;updates&#x60; is a free-form map; the platform&#39;s capability gate rejects fields the provider doesn&#39;t support. 
     * @param id Event id.
     * @param updateEventRequest 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param accountId Optional account-id filter (snake_case). (optional)
     * @return ApiResponse<CreateCalendarEvent201Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateCalendarEventWithHttpInfo(id: kotlin.String, updateEventRequest: UpdateEventRequest, xWorkspaceID: kotlin.String?, accountId: kotlin.String?) : ApiResponse<CreateCalendarEvent201Response?> {
        val localVariableConfig = updateCalendarEventRequestConfig(id = id, updateEventRequest = updateEventRequest, xWorkspaceID = xWorkspaceID, accountId = accountId)

        return request<UpdateEventRequest, CreateCalendarEvent201Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateCalendarEvent
     *
     * @param id Event id.
     * @param updateEventRequest 
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param accountId Optional account-id filter (snake_case). (optional)
     * @return RequestConfig
     */
    fun updateCalendarEventRequestConfig(id: kotlin.String, updateEventRequest: UpdateEventRequest, xWorkspaceID: kotlin.String?, accountId: kotlin.String?) : RequestConfig<UpdateEventRequest> {
        val localVariableBody = updateEventRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (accountId != null) {
                    put("account_id", listOf(accountId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xWorkspaceID?.apply { localVariableHeaders["X-Workspace-ID"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/calendar/events/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/calendar/events
     * Workspace-scoped create-event (RBAC-protected).
     * 
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceCreateCalendarEvent(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = workspaceCreateCalendarEventWithHttpInfo(org = org, workspace = workspace, requestBody = requestBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/calendar/events
     * Workspace-scoped create-event (RBAC-protected).
     * 
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceCreateCalendarEventWithHttpInfo(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = workspaceCreateCalendarEventRequestConfig(org = org, workspace = workspace, requestBody = requestBody)

        return request<kotlin.collections.Map<kotlin.String, kotlin.Any>, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceCreateCalendarEvent
     *
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return RequestConfig
     */
    fun workspaceCreateCalendarEventRequestConfig(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : RequestConfig<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/organizations/{org}/workspaces/{workspace}/calendar/events".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}
     * 
     * 
     * @param org 
     * @param workspace 
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceDeleteCalendarEvent(org: kotlin.String, workspace: kotlin.String, id: kotlin.String) : Unit {
        val localVarResponse = workspaceDeleteCalendarEventWithHttpInfo(org = org, workspace = workspace, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}
     * 
     * 
     * @param org 
     * @param workspace 
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceDeleteCalendarEventWithHttpInfo(org: kotlin.String, workspace: kotlin.String, id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = workspaceDeleteCalendarEventRequestConfig(org = org, workspace = workspace, id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceDeleteCalendarEvent
     *
     * @param org 
     * @param workspace 
     * @param id 
     * @return RequestConfig
     */
    fun workspaceDeleteCalendarEventRequestConfig(org: kotlin.String, workspace: kotlin.String, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}
     * 
     * 
     * @param org 
     * @param workspace 
     * @param id 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceGetCalendarEvent(org: kotlin.String, workspace: kotlin.String, id: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = workspaceGetCalendarEventWithHttpInfo(org = org, workspace = workspace, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}
     * 
     * 
     * @param org 
     * @param workspace 
     * @param id 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceGetCalendarEventWithHttpInfo(org: kotlin.String, workspace: kotlin.String, id: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = workspaceGetCalendarEventRequestConfig(org = org, workspace = workspace, id = id)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceGetCalendarEvent
     *
     * @param org 
     * @param workspace 
     * @param id 
     * @return RequestConfig
     */
    fun workspaceGetCalendarEventRequestConfig(org: kotlin.String, workspace: kotlin.String, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/calendar/events
     * Workspace-scoped list-events (RBAC-protected).
     * 
     * @param org 
     * @param workspace 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceListCalendarEvents(org: kotlin.String, workspace: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = workspaceListCalendarEventsWithHttpInfo(org = org, workspace = workspace)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/calendar/events
     * Workspace-scoped list-events (RBAC-protected).
     * 
     * @param org 
     * @param workspace 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceListCalendarEventsWithHttpInfo(org: kotlin.String, workspace: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = workspaceListCalendarEventsRequestConfig(org = org, workspace = workspace)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceListCalendarEvents
     *
     * @param org 
     * @param workspace 
     * @return RequestConfig
     */
    fun workspaceListCalendarEventsRequestConfig(org: kotlin.String, workspace: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/organizations/{org}/workspaces/{workspace}/calendar/events".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/calendar/providers
     * Workspace-scoped calendar providers.
     * 
     * @param org 
     * @param workspace 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceListCalendarProviders(org: kotlin.String, workspace: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = workspaceListCalendarProvidersWithHttpInfo(org = org, workspace = workspace)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/calendar/providers
     * Workspace-scoped calendar providers.
     * 
     * @param org 
     * @param workspace 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceListCalendarProvidersWithHttpInfo(org: kotlin.String, workspace: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = workspaceListCalendarProvidersRequestConfig(org = org, workspace = workspace)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceListCalendarProviders
     *
     * @param org 
     * @param workspace 
     * @return RequestConfig
     */
    fun workspaceListCalendarProvidersRequestConfig(org: kotlin.String, workspace: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/organizations/{org}/workspaces/{workspace}/calendar/providers".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}
     * 
     * 
     * @param org 
     * @param workspace 
     * @param id 
     * @param requestBody 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceUpdateCalendarEvent(org: kotlin.String, workspace: kotlin.String, id: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = workspaceUpdateCalendarEventWithHttpInfo(org = org, workspace = workspace, id = id, requestBody = requestBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}
     * 
     * 
     * @param org 
     * @param workspace 
     * @param id 
     * @param requestBody 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceUpdateCalendarEventWithHttpInfo(org: kotlin.String, workspace: kotlin.String, id: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = workspaceUpdateCalendarEventRequestConfig(org = org, workspace = workspace, id = id, requestBody = requestBody)

        return request<kotlin.collections.Map<kotlin.String, kotlin.Any>, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceUpdateCalendarEvent
     *
     * @param org 
     * @param workspace 
     * @param id 
     * @param requestBody 
     * @return RequestConfig
     */
    fun workspaceUpdateCalendarEventRequestConfig(org: kotlin.String, workspace: kotlin.String, id: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : RequestConfig<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/organizations/{org}/workspaces/{workspace}/calendar/events/{id}".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
