/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package app.spatio.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import app.spatio.client.models.ApiError
import app.spatio.client.models.ChannelMembershipRequest
import app.spatio.client.models.ChatActionsList
import app.spatio.client.models.CreateChannelRequest
import app.spatio.client.models.CreateChannelResponse
import app.spatio.client.models.ExecuteChatActionRequest
import app.spatio.client.models.ExecuteChatActionResponse
import app.spatio.client.models.ListChannelsResponse
import app.spatio.client.models.ListMessagesResponse
import app.spatio.client.models.SendChatMessageRequest
import app.spatio.client.models.SendChatMessageResponse
import app.spatio.client.models.SuccessFlag

import com.squareup.moshi.Json

import app.spatio.client.infrastructure.ApiClient
import app.spatio.client.infrastructure.ApiResponse
import app.spatio.client.infrastructure.ClientException
import app.spatio.client.infrastructure.ClientError
import app.spatio.client.infrastructure.ServerException
import app.spatio.client.infrastructure.ServerError
import app.spatio.client.infrastructure.MultiValueMap
import app.spatio.client.infrastructure.PartConfig
import app.spatio.client.infrastructure.RequestConfig
import app.spatio.client.infrastructure.RequestMethod
import app.spatio.client.infrastructure.ResponseType
import app.spatio.client.infrastructure.Success
import app.spatio.client.infrastructure.toMultiValue

open class ChannelsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.spatio.app")
        }
    }

    /**
     * POST /v1/channels
     * Create a channel.
     * 
     * @param createChannelRequest 
     * @return CreateChannelResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createChannel(createChannelRequest: CreateChannelRequest) : CreateChannelResponse {
        val localVarResponse = createChannelWithHttpInfo(createChannelRequest = createChannelRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateChannelResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/channels
     * Create a channel.
     * 
     * @param createChannelRequest 
     * @return ApiResponse<CreateChannelResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createChannelWithHttpInfo(createChannelRequest: CreateChannelRequest) : ApiResponse<CreateChannelResponse?> {
        val localVariableConfig = createChannelRequestConfig(createChannelRequest = createChannelRequest)

        return request<CreateChannelRequest, CreateChannelResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createChannel
     *
     * @param createChannelRequest 
     * @return RequestConfig
     */
    fun createChannelRequestConfig(createChannelRequest: CreateChannelRequest) : RequestConfig<CreateChannelRequest> {
        val localVariableBody = createChannelRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/channels",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/channels/execute
     * Dispatch a channel action by id.
     * Generic action-execution endpoint. &#x60;params&#x60; shape varies per &#x60;action_id&#x60;; consult &#x60;GET /v1/channels/actions&#x60; for the per-id contract. 
     * @param executeChatActionRequest 
     * @return ExecuteChatActionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun executeChannelAction(executeChatActionRequest: ExecuteChatActionRequest) : ExecuteChatActionResponse {
        val localVarResponse = executeChannelActionWithHttpInfo(executeChatActionRequest = executeChatActionRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ExecuteChatActionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/channels/execute
     * Dispatch a channel action by id.
     * Generic action-execution endpoint. &#x60;params&#x60; shape varies per &#x60;action_id&#x60;; consult &#x60;GET /v1/channels/actions&#x60; for the per-id contract. 
     * @param executeChatActionRequest 
     * @return ApiResponse<ExecuteChatActionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun executeChannelActionWithHttpInfo(executeChatActionRequest: ExecuteChatActionRequest) : ApiResponse<ExecuteChatActionResponse?> {
        val localVariableConfig = executeChannelActionRequestConfig(executeChatActionRequest = executeChatActionRequest)

        return request<ExecuteChatActionRequest, ExecuteChatActionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation executeChannelAction
     *
     * @param executeChatActionRequest 
     * @return RequestConfig
     */
    fun executeChannelActionRequestConfig(executeChatActionRequest: ExecuteChatActionRequest) : RequestConfig<ExecuteChatActionRequest> {
        val localVariableBody = executeChatActionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/channels/execute",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/channels/{id}/join
     * Join a channel.
     * 
     * @param id Channel id (provider-scoped).
     * @param channelMembershipRequest  (optional)
     * @return SuccessFlag
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun joinChannel(id: kotlin.String, channelMembershipRequest: ChannelMembershipRequest? = null) : SuccessFlag {
        val localVarResponse = joinChannelWithHttpInfo(id = id, channelMembershipRequest = channelMembershipRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SuccessFlag
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/channels/{id}/join
     * Join a channel.
     * 
     * @param id Channel id (provider-scoped).
     * @param channelMembershipRequest  (optional)
     * @return ApiResponse<SuccessFlag?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun joinChannelWithHttpInfo(id: kotlin.String, channelMembershipRequest: ChannelMembershipRequest?) : ApiResponse<SuccessFlag?> {
        val localVariableConfig = joinChannelRequestConfig(id = id, channelMembershipRequest = channelMembershipRequest)

        return request<ChannelMembershipRequest, SuccessFlag>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation joinChannel
     *
     * @param id Channel id (provider-scoped).
     * @param channelMembershipRequest  (optional)
     * @return RequestConfig
     */
    fun joinChannelRequestConfig(id: kotlin.String, channelMembershipRequest: ChannelMembershipRequest?) : RequestConfig<ChannelMembershipRequest> {
        val localVariableBody = channelMembershipRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/channels/{id}/join".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/channels/{id}/leave
     * Leave a channel.
     * 
     * @param id Channel id (provider-scoped).
     * @param channelMembershipRequest  (optional)
     * @return SuccessFlag
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun leaveChannel(id: kotlin.String, channelMembershipRequest: ChannelMembershipRequest? = null) : SuccessFlag {
        val localVarResponse = leaveChannelWithHttpInfo(id = id, channelMembershipRequest = channelMembershipRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SuccessFlag
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/channels/{id}/leave
     * Leave a channel.
     * 
     * @param id Channel id (provider-scoped).
     * @param channelMembershipRequest  (optional)
     * @return ApiResponse<SuccessFlag?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun leaveChannelWithHttpInfo(id: kotlin.String, channelMembershipRequest: ChannelMembershipRequest?) : ApiResponse<SuccessFlag?> {
        val localVariableConfig = leaveChannelRequestConfig(id = id, channelMembershipRequest = channelMembershipRequest)

        return request<ChannelMembershipRequest, SuccessFlag>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation leaveChannel
     *
     * @param id Channel id (provider-scoped).
     * @param channelMembershipRequest  (optional)
     * @return RequestConfig
     */
    fun leaveChannelRequestConfig(id: kotlin.String, channelMembershipRequest: ChannelMembershipRequest?) : RequestConfig<ChannelMembershipRequest> {
        val localVariableBody = channelMembershipRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/channels/{id}/leave".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/channels/actions
     * Discover the action catalog for the Channels platform.
     * Returns the action descriptors the agent layer dispatches via &#x60;POST /v1/channels/execute&#x60;. Same pattern as the DirectMessages action surface. 
     * @return ChatActionsList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listChannelActions() : ChatActionsList {
        val localVarResponse = listChannelActionsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChatActionsList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/channels/actions
     * Discover the action catalog for the Channels platform.
     * Returns the action descriptors the agent layer dispatches via &#x60;POST /v1/channels/execute&#x60;. Same pattern as the DirectMessages action surface. 
     * @return ApiResponse<ChatActionsList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listChannelActionsWithHttpInfo() : ApiResponse<ChatActionsList?> {
        val localVariableConfig = listChannelActionsRequestConfig()

        return request<Unit, ChatActionsList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listChannelActions
     *
     * @return RequestConfig
     */
    fun listChannelActionsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/channels/actions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/channels/messages
     * List messages in a channel.
     * Channel ids are provider-scoped; pass &#x60;?accountId&#x3D;&#x60; (preferred) or &#x60;?accountIds&#x3D;&#x60; to disambiguate when the same id exists on multiple connected accounts (rare). 
     * @param channel Channel id.
     * @param accountId  (optional)
     * @param accountIds Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used.  (optional)
     * @param providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;). (optional)
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param limit  (optional)
     * @param cursor  (optional)
     * @param oldestFirst  (optional, default to false)
     * @return ListMessagesResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listChannelMessages(channel: kotlin.String, accountId: kotlin.String? = null, accountIds: kotlin.collections.List<kotlin.String>? = null, providers: kotlin.collections.List<kotlin.String>? = null, xWorkspaceID: kotlin.String? = null, limit: kotlin.Int? = null, cursor: kotlin.String? = null, oldestFirst: kotlin.Boolean? = false) : ListMessagesResponse {
        val localVarResponse = listChannelMessagesWithHttpInfo(channel = channel, accountId = accountId, accountIds = accountIds, providers = providers, xWorkspaceID = xWorkspaceID, limit = limit, cursor = cursor, oldestFirst = oldestFirst)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListMessagesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/channels/messages
     * List messages in a channel.
     * Channel ids are provider-scoped; pass &#x60;?accountId&#x3D;&#x60; (preferred) or &#x60;?accountIds&#x3D;&#x60; to disambiguate when the same id exists on multiple connected accounts (rare). 
     * @param channel Channel id.
     * @param accountId  (optional)
     * @param accountIds Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used.  (optional)
     * @param providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;). (optional)
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param limit  (optional)
     * @param cursor  (optional)
     * @param oldestFirst  (optional, default to false)
     * @return ApiResponse<ListMessagesResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listChannelMessagesWithHttpInfo(channel: kotlin.String, accountId: kotlin.String?, accountIds: kotlin.collections.List<kotlin.String>?, providers: kotlin.collections.List<kotlin.String>?, xWorkspaceID: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?, oldestFirst: kotlin.Boolean?) : ApiResponse<ListMessagesResponse?> {
        val localVariableConfig = listChannelMessagesRequestConfig(channel = channel, accountId = accountId, accountIds = accountIds, providers = providers, xWorkspaceID = xWorkspaceID, limit = limit, cursor = cursor, oldestFirst = oldestFirst)

        return request<Unit, ListMessagesResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listChannelMessages
     *
     * @param channel Channel id.
     * @param accountId  (optional)
     * @param accountIds Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used.  (optional)
     * @param providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;). (optional)
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param limit  (optional)
     * @param cursor  (optional)
     * @param oldestFirst  (optional, default to false)
     * @return RequestConfig
     */
    fun listChannelMessagesRequestConfig(channel: kotlin.String, accountId: kotlin.String?, accountIds: kotlin.collections.List<kotlin.String>?, providers: kotlin.collections.List<kotlin.String>?, xWorkspaceID: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?, oldestFirst: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("channel", listOf(channel.toString()))
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                if (accountIds != null) {
                    put("accountIds", toMultiValue(accountIds.toList(), "multi"))
                }
                if (providers != null) {
                    put("providers", toMultiValue(providers.toList(), "multi"))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (oldestFirst != null) {
                    put("oldestFirst", listOf(oldestFirst.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xWorkspaceID?.apply { localVariableHeaders["X-Workspace-ID"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/channels/messages",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/channels
     * List group channels across connected chat providers.
     * Fan-out list. The Channels surface filters to channel-type conversations only (&#x60;type: channel | private&#x60;); for direct messages use &#x60;/v1/direct-messages&#x60;. 
     * @param accountIds Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used.  (optional)
     * @param providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;). (optional)
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param limit  (optional)
     * @param cursor Provider-specific pagination cursor. (optional)
     * @param includeArchived  (optional, default to false)
     * @param types Repeatable filter on &#x60;Channel.type&#x60;. Defaults applied by the platform exclude DMs; passing this overrides.  (optional)
     * @return ListChannelsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listChannels(accountIds: kotlin.collections.List<kotlin.String>? = null, providers: kotlin.collections.List<kotlin.String>? = null, xWorkspaceID: kotlin.String? = null, limit: kotlin.Int? = null, cursor: kotlin.String? = null, includeArchived: kotlin.Boolean? = false, types: kotlin.collections.List<kotlin.String>? = null) : ListChannelsResponse {
        val localVarResponse = listChannelsWithHttpInfo(accountIds = accountIds, providers = providers, xWorkspaceID = xWorkspaceID, limit = limit, cursor = cursor, includeArchived = includeArchived, types = types)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListChannelsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/channels
     * List group channels across connected chat providers.
     * Fan-out list. The Channels surface filters to channel-type conversations only (&#x60;type: channel | private&#x60;); for direct messages use &#x60;/v1/direct-messages&#x60;. 
     * @param accountIds Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used.  (optional)
     * @param providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;). (optional)
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param limit  (optional)
     * @param cursor Provider-specific pagination cursor. (optional)
     * @param includeArchived  (optional, default to false)
     * @param types Repeatable filter on &#x60;Channel.type&#x60;. Defaults applied by the platform exclude DMs; passing this overrides.  (optional)
     * @return ApiResponse<ListChannelsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listChannelsWithHttpInfo(accountIds: kotlin.collections.List<kotlin.String>?, providers: kotlin.collections.List<kotlin.String>?, xWorkspaceID: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?, includeArchived: kotlin.Boolean?, types: kotlin.collections.List<kotlin.String>?) : ApiResponse<ListChannelsResponse?> {
        val localVariableConfig = listChannelsRequestConfig(accountIds = accountIds, providers = providers, xWorkspaceID = xWorkspaceID, limit = limit, cursor = cursor, includeArchived = includeArchived, types = types)

        return request<Unit, ListChannelsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listChannels
     *
     * @param accountIds Repeatable. Restrict to these connected-account row ids. Mutually orthogonal to &#x60;providers&#x60; — when both are set the intersection is used.  (optional)
     * @param providers Repeatable. Restrict to these provider ids (&#x60;gmail&#x60;, &#x60;outlook&#x60;). (optional)
     * @param xWorkspaceID Workspace scope for unscoped tokens. Workspace-scoped PATs and OAuth tokens carry this implicitly; for session/JWT auth without a scoped PAT, pass it explicitly.  (optional)
     * @param limit  (optional)
     * @param cursor Provider-specific pagination cursor. (optional)
     * @param includeArchived  (optional, default to false)
     * @param types Repeatable filter on &#x60;Channel.type&#x60;. Defaults applied by the platform exclude DMs; passing this overrides.  (optional)
     * @return RequestConfig
     */
    fun listChannelsRequestConfig(accountIds: kotlin.collections.List<kotlin.String>?, providers: kotlin.collections.List<kotlin.String>?, xWorkspaceID: kotlin.String?, limit: kotlin.Int?, cursor: kotlin.String?, includeArchived: kotlin.Boolean?, types: kotlin.collections.List<kotlin.String>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (accountIds != null) {
                    put("accountIds", toMultiValue(accountIds.toList(), "multi"))
                }
                if (providers != null) {
                    put("providers", toMultiValue(providers.toList(), "multi"))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (cursor != null) {
                    put("cursor", listOf(cursor.toString()))
                }
                if (includeArchived != null) {
                    put("includeArchived", listOf(includeArchived.toString()))
                }
                if (types != null) {
                    put("types", toMultiValue(types.toList(), "multi"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xWorkspaceID?.apply { localVariableHeaders["X-Workspace-ID"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/channels",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/channels/messages
     * Send a message to a channel.
     * 
     * @param sendChatMessageRequest 
     * @return SendChatMessageResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun sendChannelMessage(sendChatMessageRequest: SendChatMessageRequest) : SendChatMessageResponse {
        val localVarResponse = sendChannelMessageWithHttpInfo(sendChatMessageRequest = sendChatMessageRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SendChatMessageResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/channels/messages
     * Send a message to a channel.
     * 
     * @param sendChatMessageRequest 
     * @return ApiResponse<SendChatMessageResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun sendChannelMessageWithHttpInfo(sendChatMessageRequest: SendChatMessageRequest) : ApiResponse<SendChatMessageResponse?> {
        val localVariableConfig = sendChannelMessageRequestConfig(sendChatMessageRequest = sendChatMessageRequest)

        return request<SendChatMessageRequest, SendChatMessageResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation sendChannelMessage
     *
     * @param sendChatMessageRequest 
     * @return RequestConfig
     */
    fun sendChannelMessageRequestConfig(sendChatMessageRequest: SendChatMessageRequest) : RequestConfig<SendChatMessageRequest> {
        val localVariableBody = sendChatMessageRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/channels/messages",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/channels
     * 
     * 
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceCreateChannel(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = workspaceCreateChannelWithHttpInfo(org = org, workspace = workspace, requestBody = requestBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/channels
     * 
     * 
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceCreateChannelWithHttpInfo(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = workspaceCreateChannelRequestConfig(org = org, workspace = workspace, requestBody = requestBody)

        return request<kotlin.collections.Map<kotlin.String, kotlin.Any>, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceCreateChannel
     *
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return RequestConfig
     */
    fun workspaceCreateChannelRequestConfig(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : RequestConfig<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/organizations/{org}/workspaces/{workspace}/channels".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/channels/execute
     * 
     * 
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceExecuteChannelAction(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = workspaceExecuteChannelActionWithHttpInfo(org = org, workspace = workspace, requestBody = requestBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/channels/execute
     * 
     * 
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceExecuteChannelActionWithHttpInfo(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = workspaceExecuteChannelActionRequestConfig(org = org, workspace = workspace, requestBody = requestBody)

        return request<kotlin.collections.Map<kotlin.String, kotlin.Any>, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceExecuteChannelAction
     *
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return RequestConfig
     */
    fun workspaceExecuteChannelActionRequestConfig(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : RequestConfig<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/organizations/{org}/workspaces/{workspace}/channels/execute".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/channels/{id}/join
     * 
     * 
     * @param org 
     * @param workspace 
     * @param id 
     * @param requestBody  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceJoinChannel(org: kotlin.String, workspace: kotlin.String, id: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>? = null) : Unit {
        val localVarResponse = workspaceJoinChannelWithHttpInfo(org = org, workspace = workspace, id = id, requestBody = requestBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/channels/{id}/join
     * 
     * 
     * @param org 
     * @param workspace 
     * @param id 
     * @param requestBody  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceJoinChannelWithHttpInfo(org: kotlin.String, workspace: kotlin.String, id: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>?) : ApiResponse<Unit?> {
        val localVariableConfig = workspaceJoinChannelRequestConfig(org = org, workspace = workspace, id = id, requestBody = requestBody)

        return request<kotlin.collections.Map<kotlin.String, kotlin.Any>, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceJoinChannel
     *
     * @param org 
     * @param workspace 
     * @param id 
     * @param requestBody  (optional)
     * @return RequestConfig
     */
    fun workspaceJoinChannelRequestConfig(org: kotlin.String, workspace: kotlin.String, id: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>?) : RequestConfig<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/organizations/{org}/workspaces/{workspace}/channels/{id}/join".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/channels/{id}/leave
     * 
     * 
     * @param org 
     * @param workspace 
     * @param id 
     * @param requestBody  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceLeaveChannel(org: kotlin.String, workspace: kotlin.String, id: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>? = null) : Unit {
        val localVarResponse = workspaceLeaveChannelWithHttpInfo(org = org, workspace = workspace, id = id, requestBody = requestBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/channels/{id}/leave
     * 
     * 
     * @param org 
     * @param workspace 
     * @param id 
     * @param requestBody  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceLeaveChannelWithHttpInfo(org: kotlin.String, workspace: kotlin.String, id: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>?) : ApiResponse<Unit?> {
        val localVariableConfig = workspaceLeaveChannelRequestConfig(org = org, workspace = workspace, id = id, requestBody = requestBody)

        return request<kotlin.collections.Map<kotlin.String, kotlin.Any>, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceLeaveChannel
     *
     * @param org 
     * @param workspace 
     * @param id 
     * @param requestBody  (optional)
     * @return RequestConfig
     */
    fun workspaceLeaveChannelRequestConfig(org: kotlin.String, workspace: kotlin.String, id: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>?) : RequestConfig<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/organizations/{org}/workspaces/{workspace}/channels/{id}/leave".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/channels/actions
     * 
     * 
     * @param org 
     * @param workspace 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceListChannelActions(org: kotlin.String, workspace: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = workspaceListChannelActionsWithHttpInfo(org = org, workspace = workspace)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/channels/actions
     * 
     * 
     * @param org 
     * @param workspace 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceListChannelActionsWithHttpInfo(org: kotlin.String, workspace: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = workspaceListChannelActionsRequestConfig(org = org, workspace = workspace)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceListChannelActions
     *
     * @param org 
     * @param workspace 
     * @return RequestConfig
     */
    fun workspaceListChannelActionsRequestConfig(org: kotlin.String, workspace: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/organizations/{org}/workspaces/{workspace}/channels/actions".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/channels/messages
     * 
     * 
     * @param org 
     * @param workspace 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceListChannelMessages(org: kotlin.String, workspace: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = workspaceListChannelMessagesWithHttpInfo(org = org, workspace = workspace)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/channels/messages
     * 
     * 
     * @param org 
     * @param workspace 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceListChannelMessagesWithHttpInfo(org: kotlin.String, workspace: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = workspaceListChannelMessagesRequestConfig(org = org, workspace = workspace)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceListChannelMessages
     *
     * @param org 
     * @param workspace 
     * @return RequestConfig
     */
    fun workspaceListChannelMessagesRequestConfig(org: kotlin.String, workspace: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/organizations/{org}/workspaces/{workspace}/channels/messages".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/channels
     * 
     * 
     * @param org 
     * @param workspace 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceListChannels(org: kotlin.String, workspace: kotlin.String) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = workspaceListChannelsWithHttpInfo(org = org, workspace = workspace)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/organizations/{org}/workspaces/{workspace}/channels
     * 
     * 
     * @param org 
     * @param workspace 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceListChannelsWithHttpInfo(org: kotlin.String, workspace: kotlin.String) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = workspaceListChannelsRequestConfig(org = org, workspace = workspace)

        return request<Unit, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceListChannels
     *
     * @param org 
     * @param workspace 
     * @return RequestConfig
     */
    fun workspaceListChannelsRequestConfig(org: kotlin.String, workspace: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/organizations/{org}/workspaces/{workspace}/channels".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/channels/messages
     * 
     * 
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return kotlin.collections.Map<kotlin.String, kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun workspaceSendChannelMessage(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : kotlin.collections.Map<kotlin.String, kotlin.Any> {
        val localVarResponse = workspaceSendChannelMessageWithHttpInfo(org = org, workspace = workspace, requestBody = requestBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/organizations/{org}/workspaces/{workspace}/channels/messages
     * 
     * 
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun workspaceSendChannelMessageWithHttpInfo(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : ApiResponse<kotlin.collections.Map<kotlin.String, kotlin.Any>?> {
        val localVariableConfig = workspaceSendChannelMessageRequestConfig(org = org, workspace = workspace, requestBody = requestBody)

        return request<kotlin.collections.Map<kotlin.String, kotlin.Any>, kotlin.collections.Map<kotlin.String, kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation workspaceSendChannelMessage
     *
     * @param org 
     * @param workspace 
     * @param requestBody 
     * @return RequestConfig
     */
    fun workspaceSendChannelMessageRequestConfig(org: kotlin.String, workspace: kotlin.String, requestBody: kotlin.collections.Map<kotlin.String, kotlin.Any>) : RequestConfig<kotlin.collections.Map<kotlin.String, kotlin.Any>> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/organizations/{org}/workspaces/{workspace}/channels/messages".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"workspace"+"}", encodeURIComponent(workspace.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
